// font colors
$title-fc: #1B1C1F;
$paragraph-fc: #454B53;
$link-fc: #646F7C;

// background colors
$section-grey-color: #F8F9FD;
$section-green-color: rgb(206, 248, 232);
$point-green: #A2F5D5;
$hover-grey: #F1F3F7;
// button colors
$link-btn-color: #4DCA9A;